- @no_container = true
- page_title "Tags"
= render "projects/commits/head"

.flex-list{ class: container_class }
  .top-area.flex-row
    .nav-text.row-main-content
      Tags give the ability to mark specific points in history as being important

    .nav-controls.row-fixed-content
      = form_tag(filter_tags_path, method: :get) do
        = search_field_tag :search, params[:search], { placeholder: 'Filter by tag name', id: 'tag-search', class: 'form-control search-text-input input-short', spellcheck: false }

      .dropdown
        %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown'} }
          %span.light
            = projects_sort_options_hash[@sort]
          = icon('chevron-down')
        %ul.dropdown-menu.dropdown-menu-align-right
          %li
            = link_to filter_tags_path(sort: sort_value_name) do
              = sort_title_name
            = link_to filter_tags_path(sort: sort_value_recently_updated) do
              = sort_title_recently_updated
            = link_to filter_tags_path(sort: sort_value_oldest_updated) do
              = sort_title_oldest_updated
      - if can?(current_user, :push_code, @project)
        = link_to new_namespace_project_tag_path(@project.namespace, @project), class: 'btn btn-create new-tag-btn' do
          New tag

  = render 'projects/commits/mirror_status'

  .tags
    - if @tags.any?
      %ul.flex-list.content-list
        = render partial: 'tag', collection: @tags

      = paginate @tags, theme: 'gitlab'

    - else
      .nothing-here-block
        Repository has no tags yet.
        %br
        %small
          Use git tag command to add a new one:
          %br
          %span.monospace git tag -a v1.4 -m 'version 1.4'
